* {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  text-decoration: inherit;
  padding: inherit;
  margin: inherit;
  list-style-type: none;
}

body {
  font-family: sans-serif;
  background-color: rgb(2, 103, 255);
  color: #fff;
}

form {
  padding: 0;
  margin: 0;
}